.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
    background-color: #f0f0f0; /* ajout temporaire pour visualiser */
  border-bottom: 1px solid #ddd;
}

.header-container {
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  height: 150px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 25px;
}

.account, .cart {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 18px;
  margin-right: 5px;
  color: #555;
}

.text {
  font-size: 14px;
  color: #333;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: white;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}

/* Responsive mobile */
@media (max-width: 768px) {
  .header-container {
    padding: 0 10px;
  }

  .header-logo img {
    height: 106px;
  }

  .text {
    font-size: 12px;
  }

  .icon {
    font-size: 16px;
  }

  .header-actions {
    gap: 15px;
  }
}
